In [1]:
# premier opérateur de comparaison

1==1

True

In [3]:
# 2e opérateur de comparaison pas égal

1 != 2

# 3e opérateur de comparaison

1 < 2

True

In [4]:
variable1 = 2
variable2 = 4
variable3 = "Hello"

In [12]:
if (variable1 == 2) and (variable3 == "Hello"):
    print('Ta comparaison est vrai!')
else:
    print('Ta comparaison est fausse!')

Ta comparaison est vrai!

In [13]:
if (variable1 > variable2) or (variable3 == "Hello"):
    print('Ta comparaison est vrai!')
else:
    print('Ta comparaison est fausse!')

Ta comparaison est vrai!

In [14]:
ma_liste = [1,2,3,4,5,6,7,8,9,10]

In [17]:
for ma_valeur in ma_liste:
    print(ma_valeur *2)
    print("--")

2
--
4
--
6
--
8
--
10
--
12
--
14
--
16
--
18
--
20
--

In [20]:
for ma_valeur in ma_liste:
    valeur = ma_valeur * 2
    print('La multiplication de 2 * %d = %d' %(ma_valeur, valeur))

La multiplication de 2 * 1 = 2
La multiplication de 2 * 2 = 4
La multiplication de 2 * 3 = 6
La multiplication de 2 * 4 = 8
La multiplication de 2 * 5 = 10
La multiplication de 2 * 6 = 12
La multiplication de 2 * 7 = 14
La multiplication de 2 * 8 = 16
La multiplication de 2 * 9 = 18
La multiplication de 2 * 10 = 20

In [24]:
i = 0
while (i < 9):
    print('compteur = %d' %(i))
    print('ma_valeur = %d' %(ma_liste[i]))
    i+=1

compteur = 0
ma_valeur = 1
compteur = 1
ma_valeur = 2
compteur = 2
ma_valeur = 3
compteur = 3
ma_valeur = 4
compteur = 4
ma_valeur = 5
compteur = 5
ma_valeur = 6
compteur = 6
ma_valeur = 7
compteur = 7
ma_valeur = 8
compteur = 8
ma_valeur = 9

In [26]:
i = 0
while (i < 10):
    if ma_liste[i] % 2 == 0:
        print('compteur = %d' %(i))
        print('ma_valeur = %d' %(ma_liste[i]))
    i+=1

compteur = 1
ma_valeur = 2
compteur = 3
ma_valeur = 4
compteur = 5
ma_valeur = 6
compteur = 7
ma_valeur = 8
compteur = 9
ma_valeur = 10

# Exercice final

In [30]:
prix_maison = list(range(125000, 700000, 10000))

In [33]:
len(prix_maison)

58

In [48]:
q1 = 0
q2 = 0
q3 = 0
q4 = 0

for p in prix_maison:
    if p >= 300000:
        q1+=1
    if (p > 250000) and (p < 400000):
        q2+=1
    if p < 600000:
        q3+=1
    if (p > 650000) or (p < 150000):
        q4+=1

print('question %d = %d' %(1, q1))
print('question %d = %d' %(2, q2))
print('question %d = %d' %(3, q3))
print('question %d = %d' %(4, q4))

question 1 = 40
question 2 = 15
question 3 = 48
question 4 = 8

## Fonction

In [50]:
# fonction en python

def compte_maison(une_liste, treshhold):
    nb = 0
    for p in une_liste:
        if p >= treshhold:
            nb +=1
    return nb

In [51]:
nb = compte_maison(prix_maison, 300000)

In [53]:
nb

40

In [55]:
def compte_maison(une_liste, treshhold):
    nb = 0
    nb_total = 0
    for p in une_liste:
        if p >= treshhold:
            nb +=1
        nb_total +=1
    return (nb, nb_total)

In [57]:
nb, nb_total = compte_maison(prix_maison, 300000)
print(nb, nb_total)

40 58